#list-of-contacts ul{
    display:flex;
    justify-content: space-evenly;
    position:relative;
    top:35em;
   }

   #list-of-contacts img {
       height: 8em;
       transition:  0.5s ease ;
   }

   .contact-me h2 {
       color:white;
       position: relative;
       top:20em;
       font-family: monospace;
       text-align: center;
   }

   /*smart phone contact page*/

   @media (min-width:320px) {
    .contact-me h2 {
        color:white;
        position: relative;
        top:3em;
        font-family: monospace;
        text-align: center;
        font-size: 4em;
    }
}

@media (min-width:320px) {
    #list-of-contacts ul{
        display:flex;
        justify-content: space-evenly;
        position:relative;
        top:15em;
    }
 }

 /* laptop contact me page*/

@media (min-width:1024px) {
    .contact-me h2 {
        color:white;
        position: relative;
        top:3em;
        font-family: monospace;
        text-align: center;
        font-size: 2.5em;
    }
}