/*universal navigation*/
.title h1  {
    position: absolute;
    top:-0.3em;
    font-family: monospace;
    color: white;
    left: 0.3em;
    font-size: 4em;

}
  .banner h2{
    position: absolute;
    top:0%;
    font-family: monospace;
    color: white;
    left: 1em;


}
   
   .navigation a:hover {
    color: rgb(107, 219, 253);
    font-size: 160%;
   } 

   .navigation a   {
    text-decoration: none;
    font-size: 140%;
    color: white;
    font-family: monospace;
    transition: ease-in-out 0.1s;
  }

   .navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position:relative;
    top:10em;
    left:100.6em;
   }
   .banner {
    position: fixed;
    width:100%;
    top:0%;
    left:0%;
    z-index: 1;
    padding-bottom: 3em;
   }
  /*universal styles*/
   body {
    background-color: black;
    
    }

    p{
        color: white;
        font-family: monospace;
    }

    a {
        text-decoration: none;
       }


    ul{
        list-style: none;
       }

  
   
   


  

   
         /*smartphone universal navigation*//*
        @media (min-width:320px) {
        .title h1  {
           position: absolute;
           top:-0.3em;
           font-family: monospace;
           color: white;
           left: 0.3em;
           font-size: 4em;

       }

    }
       @media (min-width:320px) { 
        .banner h2 {
           position: absolute;
           top:-1em;
           font-family: monospace;
           color: white;
           left: 0.5em;
           font-size: 3em;
           }
        }

       @media (min-width:320px) {
          .navigation a   {
           text-decoration: none;
           font-size: 1em;
           color: white;
           font-family: monospace;
         }
        }

         @media (min-width:320px) {
          .navigation {
           display: flex;
           justify-content: space-around;
           position:relative;
           top:5em;
           left:1.6em;
          }
        }
          @media (min-width:320px) {

          .banner {
           background-color: rgb(27, 19, 43);
           position: fixed;
           width:100%;
           top:0%;
           left:0%;
           z-index: 1;
           padding-bottom: 5em;
           border-bottom:0.5em solid rgba(18, 0, 46, 0.836);
          }

        }

     

    
   

  
  
