/*universal navigation*/
 .title h1  {
    position: absolute;
    top:15px;
    font-family: monospace;
    color: white;
    left: 0.7em;
    
}
  .banner h2{
    position: absolute;
    top:0%;
    font-family: monospace;
    color: white;
    left: 1em;
    

}
   .navigation a   {
    text-decoration: none;
    font-size: 140%;
    color: white;
    font-family: monospace;
  }

   .navigation {
    display: flex;
    justify-content: space-around;
    position:relative;
    top:3em;
    left:3.6em;
   }
   .banner {
    background-color: rgb(27, 19, 43);
    position: fixed;
    width:100%;
    top:0%;
    left:0%;
    z-index: 1;
    padding-bottom: 3em;
    border-bottom:solid rgba(18, 0, 46, 0.836);
   }
  /*universal styles*/
   body {
    background-image: url(../Images/starsky2.gif);
    }

    p{
        color: white;
        font-family: monospace;
    }

    a {
        text-decoration: none;
       }
       
   
    ul{
        list-style: none;
       }

   /* Home page */
    #profile-pic {
    position: relative;
    top: 20em;
    left: 50em;
    display:block;
    background-color: black;
    border-radius: 50%;
    background-image: url(../Images/kirokaze1.gif);
    background-size: cover;
    height: 25em;
   }
    
    #intro{
        position: relative;
        top: 10em;
        left: 15em;
        color: white;
        border-radius:2%;
        display: inline-block;
        font-family: monospace;
        font-size: 2rem;
        text-align: center;
    }
   /*projects page*/
    .project h4 {
        color: white;
        position:relative;
        bottom:-2em;
        top:-1em;
       

    }

    .project ul {
        position: relative;
        left: -1.8em;
        bottom: 2em;
    }

    .project li {
        color: white;
        font-family: monospace;
    }
    
    .project img {
        height:2.5em;
        position: relative;
        top:-1.5em;
        left: 0.1em;
    }

    .project a{
        color: white;
        font-family: monospace;
    }

    .project {
        position: relative;
        top: 10em;
        background-color: rgb(27, 19, 43);
        display: inline-block;
        text-align: center;
        left: 41em;
        border:solid rgba(18, 0, 46, 0.836);
    }

    #introduction{
        font-family: monospace;
        color: white;
        position: relative;
        text-align: center;
        left: 0.5em;
        z-index: 0;
        top:5em;

    }
   /*About me page */
   .skills h2{
    font-family: monospace;
    color: white;
    position: relative;
    top: 20em;
    text-align: center;
   }

   #name {
    font-family: monospace;
    position: relative;
    top: 20em;
    color: white;
    text-align: center;
   }

   #skills ul {
    position:relative;
    top: 26em;
    display: flex;
    justify-content: center;
    left:-1em;
   }

   li img{
    height: 8em;
   }
   
   .bio {
    position:relative;
    top: 10em;
    font-size: 2em;
    text-align: center;
   }

 
  /*Contact page */
    #list-of-contacts ul{
     display:flex;
     justify-content: space-evenly;
     position:relative;
     top:35em;
    }

    .contact-me h2 {
        color:white;
        position: relative;
        top:20em;
        font-family: monospace;
        text-align: center;
    }

    /* prophecy */
   .instruction {
    color:white;
    position: relative;
    top:10em;
    font-family: monospace;
    text-align: center;
    }

    #mage{
        position: relative;
        left: 42em;
        top: 8em;
        height: 35em;
    }
    
    #Prophecy {
        position:relative;
        text-align: center;
        font-size: 2em;
        font-family: monospace;
        top: 4em;
    }

    #selection ul {
        position:relative;
        top: 6em;
        display: flex;
        justify-content: space-evenly;
        font-family: monospace;
    
    }
    
    #selection button {
        position: relative;
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
        background-color: rgb(27, 19, 43);
        font-family: monospace;
        font-weight: 700;
        font-size: 1.5em;
        display: block;
        padding: 4px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        -webkit-box-shadow: 0px 9px 0px rgba(18, 0, 46, 0.836), 0px 9px 25px rgba(0, 0, 0, .7);
        -moz-box-shadow: 0px 9px 0px rgba(18, 0, 46, 0.836), 0px 9px 25px rgba(0, 0, 0, .7);
        box-shadow: 0px 9px 0px rgba(18, 0, 46, 0.836), 0px 9px 25px rgba(0, 0, 0, .7);
        margin: 100px auto;
        width: 160px;
        text-align: center;
        -webkit-transition: all .1s ease;
        -moz-transition: all .1s ease;
        -ms-transition: all .1s ease;
        -o-transition: all .1s ease;
        transition: all .1s ease;
    }
    #selection button:hover{
        cursor: hand; 
        cursor: pointer;
        }
        
        #selection button:active{
            -webkit-box-shadow: 0px 3px 0px rgba(18, 0, 46, 0.836), 0px 3px 6px rgba(0, 0, 0, .9);
            -moz-box-shadow: 0px 3px 0px rgba(18, 0, 46, 0.836), 0px 3px 6px rgba(0, 0, 0, .9);
            box-shadow: 0px 3px 0px rgba(18, 0, 46, 0.836), 0px 3px 6px rgba(0, 0, 0, .9);
            position: relative;
            top: 6px;
        }
         /*smartphone universal navigation*/
        @media (min-width:320px) {
        .title h1  {
           position: absolute;
           top:15px;
           font-family: monospace;
           color: white;
           left: 0.7em;
           font-size: 4em;
           
       }

    }
       @media (min-width:320px) { 
        .banner h2 {
           position: absolute;
           top:-0.5em;
           font-family: monospace;
           color: white;
           left: 1em;
           font-size: 3em;
           }
        }

       @media (min-width:320px) {
          .navigation a   {
           text-decoration: none;
           font-size: 4em;
           color: white;
           font-family: monospace;
         }
        }
         
         @media (min-width:320px) {
          .navigation {
           display: flex;
           justify-content: space-around;
           position:relative;
           top:20em;
           left:1.6em;
          }
        }
          @media (min-width:320px) {

          .banner {
           background-color: rgb(27, 19, 43);
           position: fixed;
           width:100%;
           top:0%;
           left:0%;
           z-index: 1;
           padding-bottom: 20em;
           border-bottom:0.5em solid rgba(18, 0, 46, 0.836);
          }

        }

      /*smart phone Home page*/  

      @media (min-width:320px) {
        #profile-pic {
            position: relative;
            top: 50em;
            left: 11em;
            display:block;
            background-color: black;
            border-radius: 50%;
            background-image: url(../Images/kirokaze1.gif);
            background-size: cover;
            height: 45em;
           }
      }

     @media (min-width:320px) {
        #intro{
            position: relative;
            top: 40em;
            left:1em;
            color: white;
            border-radius:2%;
            display: inline-block;
            font-family: monospace;
            font-size: 2rem;
            text-align: center;
     }
    }

    /*smart phone projects page*/
    @media (min-width:320px) {
        .project {
            position: relative;
            top: 30em;
            background-color: rgb(27, 19, 43);
            display: inline-block;
            text-align: center;
            left: 13em;
            border:solid rgba(18, 0, 46, 0.836);
        }
    }

    /*smart phone About me page*/

    @media (min-width:320px) {
        #name {
            font-family: monospace;
            position: relative;
            top: 50em;
            color: white;
            text-align: center;
           }
    }

    @media (min-width:320px) {
        .bio {
            position:relative;
            top: 20em;
            font-size: 2em;
            text-align: center;
           }
    }

    @media (min-width:320px) {
        .skills h2{
            font-family: monospace;
            color: white;
            position: relative;
            top: 40em;
            text-align: center;
           }

    }

    @media (min-width:320px) {
    #skills ul {
        position:relative;
        top: 58em;
        display: flex;
        justify-content: center;
        left:-1em;
       }
    }

    /*smart phone contact page*/
    
    @media (min-width:320px) {
        .contact-me h2 {
            color:white;
            position: relative;
            top:20em;
            font-family: monospace;
            text-align: center;
            font-size: 4em;
        }
    }

/* smart phone prophecy */
 

@media (min-width:320px) {
    .Prophecy-navigation {
     display: flex;
     justify-content: space-around;
     position:relative;
     top:8.2em;
     font-size: 3em;
     font-family: monospace;
     color: white;
     text-decoration: none;
    }
  }

  @media (min-width:320px) {
    .Prophecy-navigation a {
        text-decoration: none;
        font-size: 1em;
        color: white;
        font-family: monospace;
      }
  }


@media (min-width:320px) {
    .instruction {
        color:white;
        position: relative;
        top:14em;
        font-size: 2.5em;
        font-family: monospace;
        text-align: center;
        }
}

@media (min-width:320px) {
    #mage {
        position: relative;
        left: 14em;
        top: 40em;
        height: 35em;
    }
}

@media (min-width:320px) {
    #Prophecy {
        position:relative;
        text-align: center;
        font-size: 2em;
        font-family: monospace;
        top: 25em;
    }
}

@media (min-width:320px) {

    #selection ul {
        position:relative;
        top:67em;
        display: flex;
        justify-content: space-evenly;
        font-family: monospace;
    }
}

/*Tablet universal navigation */

