#prophecy-container{
    transition: ease;
   
   }
   
    .instruction {
    color:white;
    position: relative;
    top:10em;
    font-family: monospace;
    text-align: center;
    }

 
    #oracle  {
        position: relative;
        top:13em;
        display: block;
        margin-left:auto;
        margin-right: auto;
        height: 35em;
    }


    #Prophecy {
        position:relative;
        text-align: center;
        font-size: 2em;
        font-family: monospace;
        top: 4em;
        
    }

    #selection ul {
        position:relative;
        top: 2em;
        display: flex;
        justify-content: space-evenly;
        font-family: monospace;

    }

    #selection button {
        position: relative;
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
        background-color: rgb(27, 19, 43);
        font-family: monospace;
        font-weight: 700;
        font-size: 1.5em;
        display: block;
        padding: 4px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        -webkit-box-shadow: 0px 9px 0px rgba(18, 0, 46, 0.836), 0px 9px 25px rgba(0, 0, 0, .7);
        -moz-box-shadow: 0px 9px 0px rgba(18, 0, 46, 0.836), 0px 9px 25px rgba(0, 0, 0, .7);
        box-shadow: 0px 9px 0px rgba(18, 0, 46, 0.836), 0px 9px 25px rgba(0, 0, 0, .7);
        margin: 100px auto;
        width: 160px;
        text-align: center;
        -webkit-transition: all .1s ease;
        -moz-transition: all .1s ease;
        -ms-transition: all .1s ease;
        -o-transition: all .1s ease;
        transition: all .1s ease;
    }
    #selection button:hover{
        cursor: hand; 
        cursor: pointer;
        }

        #selection button:active{
            -webkit-box-shadow: 0px 3px 0px rgba(18, 0, 46, 0.836), 0px 3px 6px rgba(0, 0, 0, .9);
            -moz-box-shadow: 0px 3px 0px rgba(18, 0, 46, 0.836), 0px 3px 6px rgba(0, 0, 0, .9);
            box-shadow: 0px 3px 0px rgba(18, 0, 46, 0.836), 0px 3px 6px rgba(0, 0, 0, .9);
            position: relative;
            top: 6px;
        }

        /* smart phone prophecy */


@media (min-width:320px) {
    .Prophecy-navigation {
     display: flex;
     justify-content: space-around;
     position:relative;
     top:2.2em;
     font-size: 3em;
     font-family: monospace;
     color: white;
     text-decoration: none;
    }
  }

  @media (min-width:320px) {
    .Prophecy-navigation a {
        text-decoration: none;
        font-size: 0.5em;
        color: white;
        font-family: monospace;
      }
  }


@media (min-width:320px) {
    .instruction {
        color:white;
        position: relative;
        top:6em;
        font-size: 2.5em;
        font-family: monospace;
        text-align: center;
        }
}

@media (min-width:320px) {
    #oracle  {
        position: relative;
        top:13em;
        display: block;
        margin-left:auto;
        margin-right: auto;
        height: 35em;
    }
}


@media (min-width:320px) {
    #Prophecy {
        position:relative;
        text-align: center;
        font-size: 2em;
        font-family: monospace;
        top: 9em;
        
    }
}

@media (min-width:320px) {

    #selection ul {
        position:relative;
        top:27em;
        display: flex;
        justify-content: space-evenly;
        font-family: monospace;
        left: -1.8em;
    }
}

/*Tablet Prophecy*/

@media (min-width:768px) {
    .Prophecy-navigation {
     display: flex;
     justify-content: space-around;
     position:relative;
     top:2.2em;
     font-size: 3em;
     font-family: monospace;
     color: white;
     text-decoration: none;
    }
  }

  @media (min-width:768px) {
    .Prophecy-navigation a {
        text-decoration: none;
        font-size: 0.5em;
        color: white;
        font-family: monospace;
      }
  }


@media (min-width:768px) {
    .instruction {
        color:white;
        position: relative;
        top:10em;
        font-size: 1em;
        font-family: monospace;
        text-align: center;
        }
}

@media (min-width:768px) {
    #oracle  {
        position: relative;
        top:13em;
        display: block;
        margin-left:auto;
        margin-right: auto;
        height: 20em;
    }
}

@media (min-width:768px) {
    #Prophecy {
        position:relative;
        text-align: center;
        font-size: 2em;
        font-family: monospace;
        top: 9em;
    }
}

@media (min-width:768px) {

    #selection ul {
        position:relative;
        top:27em;
        display: flex;
        justify-content: space-evenly;
        font-family: monospace;
        left: -1.8em;
    }
}







/*laptop Prophecy page*/

@media (min-width:1024px) {
    .instruction {
        color:white;
        position: relative;
        top:10em;
        font-size: 1em;
        font-family: monospace;
        text-align: center;
        }
}



@media (min-width:1024px) {
    #Prophecy {
        position:relative;
        text-align: center;
        font-size: 1.6em;
        font-family: monospace;
        top: 9em;
    }
}

@media (min-width:1024px) {

    #selection ul {
        position:relative;
        top:18em;
        display: flex;
        justify-content: space-evenly;
        font-family: monospace;
        left: -1.8em;
    }
}@media (min-width:1024px) {
    .Prophecy-navigation {
     display: flex;
     justify-content: space-around;
     position:relative;
     top:2.2em;
     font-family: monospace;
     color: white;
     text-decoration: none;
    }
  }

  @media (min-width:1024px) {
    .Prophecy-navigation a {
        text-decoration: none;
        font-size: 0.5em;
        color: white;
        font-family: monospace;
      }
  }
