.skills h2{
    font-family: monospace;
    color: white;
    position: relative;
    top: 20em;
    text-align: center;
   }

   #name {
    font-family: monospace;
    position: relative;
    top: 20em;
    color: white;
    text-align: center;
   }



   .skills img{
    height: 8em;
    transition: 0.4s ease;
   }

   .bio {
    position:relative;
    top: 10em;
    font-size: 2em;
    text-align: center;
   }

   /*smart phone About me page*/

   @media (min-width:320px) {
    #name {
        font-family: monospace;
        position: relative;
        top: 10em;
        color: white;
        text-align: center;
       }
}

@media (min-width:320px) {
    .bio {
        position:relative;
        top: 5em;
        font-size: 2em;
        text-align: center;
       }
}

@media (min-width:320px) {
    #skills h2{
        font-family: monospace;
        color: white;
        position: relative;
        top: 10em;
        text-align: center;
       }

}

@media (min-width:320px) {
.skills  {
    position:relative;
    top: 13em;
    display: flex;
    justify-content: center;
    
   }
}