#projects {
    position: relative;
    top: 6em;
    display: flex;
    flex-direction: column;
    gap:5em;
}

.center-project {
    position: relative;
    margin: auto;
    width:50%;
    text-align: center;
    display: block;
    overflow: auto;
    font-size: 1rem;
    font-weight: lighter;
}
.center-project::before {
    content: "";
    position: relative;
    margin:auto;
    width:45em;
    height: 0.1rem;
    display: block;
    background-color: aliceblue;
    transition: 0.2s;
   }

.center-project::after {
    content: "";
    position: relative;
    margin:auto;
    width:45em;
    height: 0.1rem;
    display: block;
    background-color: aliceblue;
    transition: 0.2s;
   }


.center-project a{
    color: white;
    font-family: monospace;
}


#introduction{
    font-family: monospace;
    color: white;
    position: relative;
    text-align: center;
    left: 0.5em;
    z-index: 0;
    top:5em;

}

h3::after {
    content: "";
    position: relative;
    margin:auto;
    width:0em;
    height: 0.1rem;
    display: block;
    background-color: aliceblue;
    transition: 0.2s;
   }

   h3:hover::after {
    width:11em;
   }

/*smart phone projects page*/ /*
@media (min-width:320px) {
    #introduction {
     font-family: monospace;
     color: white;
     position: relative;
     text-align: center;
     left: 0.5em;
     z-index: 0;
     top:10em;
     font-size: medium;
 }

} 

@media (min-width:320px) {
    #center-project {
    position: relative;
    top:10em;
    margin: auto;
    width:50%;
    text-align: center;
    display: inline block;
    background-color: rgb(27, 19, 43);
    border: solid rgba(18, 0, 46, 0.836);
    transition: border 0.3s ease;
    overflow: auto;
    
    }
}



#center-project h4 {
    color: white;
    position:relative;
    bottom:-2em;
    top:-1em;


}

#center-project ul {
    position: relative;
    left: -1.8em;
    bottom: 2em;
}

#center-project li {
    color: white;
    font-family: monospace;
}

#center-project img {
    height:2.5em;
    position: relative;
    top:-1.5em;
    left: 0.1em;
}

#center-project a{
    color: white;
    font-family: monospace;
}

/* laptop Projects page*/ /*

@media (min-width:1024px) {
    #introduction {
     font-family: monospace;
     color: white;
     position: relative;
     text-align: center;
     left: 0.5em;
     z-index: 0;
     top:10em;
 }

} 


@media (min-width:1024px) {
    .project {
        position: relative;
        top: 10em;
        background-color: rgb(27, 19, 43);
        display: inline-block;
        text-align: center;
        left: 13em;
        border:solid rgba(18, 0, 46, 0.836);
    }
}